<h1>Create Song</h1>

<form action="/song" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Album</label>
    <input type="text" name="album" />

    <label>Length</label>
    <input type=" text" name="length" />

    <label>Song Number</label>
    <input type="number" min=0 name="songNumber" />

    <label>Artist</label>
    <input type="text" name="artist" />

    <input type="submit" value="Create" />
</form>