<h1>Create Computer</h1>

<form action="/computer" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Model Number</label>
    <input type="text" name="modelNumber" />

    <label>Manufacturer</label>
    <input type=" text" name="manufacturer" />

    <label>Version</label>
    <input type="number" min=0 name="version" />

    <label>Storage</label>
    <input type="text" name="storage" />

    <input type="submit" value="Create" />
</form>