<h1>Create Comic</h1>

<form action="/comic" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Writer</label>
    <input type="text" name="Writer" />

    <label>Hours</label>
    <input type=" text" name="hours" />

    <label>Issue Number</label>
    <input type="number" min=0 name="issueNumber" />

    <label>Accepted Payments</label>
    <input type="text" name="paymentTypes" />

    <input type="submit" value="Create" />
</form>