<h1>Create Comic</h1>

<form action="/comic" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Writer</label>
    <input type="text" name="Writer" />

    <label>Artist</label>
    <input type=" text" name="artist" />

    <label>Issue Number</label>
    <input type="number" min=0 name="issueNumber" />

    <label>Publisher</label>
    <input type="text" name="publisher" />

    <input type="submit" value="Create" />
</form>